<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
	<title>Desafio Imusica</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Desafio Menu</a>
			</div>
			<ul class="nav navbar-nav">
				<li ><a href="/produto/listar">Listar</a></li>
				<li><a href="/produto">Cadastrar</a></li>
				<li class="active"><a href="#">Cancelar Compra</a></li>
			</ul>
		</div>
	</nav>	
	
	
	<div class="container">
		
		<h4 class="form-signin-heading">Simular problema em Venda - Cancelando Venda </h4>
		<h6 class="form-signin-heading">Selecione um produto, adicione a quantidade e clique em cancelar. Com isso uma simulação
		de venda cancelada será feita e esta quantidade será escrita em fila para ser somada novamente à quantidade do produto.</h6>
	
		<form th:action="@{/cancelaCompra}" method="POST" class="form-signin">
			
			<div class="alert alert-success" th:if="${msgSuccess}">
  				<span th:utext="${msgSuccess}"></span>
			</div>

			<div class="alert alert-danger" th:if="${msgErro}">
  				<span th:utext="${msgErro}"></span>
			</div>
			
			<br/>
			 
			<select id="produtoId" name="produtoId">
		   	 <option value="" selected="selected">Selecione o Produto</option>
		    	<option th:each="produto : ${produtos}" th:value="${produto.id}" th:text="${produto.nome}"></option>
		    </select>
			<br/><br/>
			
			<input type="text" id="quantidadeComprada" name="quantidadeComprada"  th:placeholder="Quantidade"
				class="form-control" />  
			<br/>
			
			

			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Os campos devem ser todos preenchidos</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Cancelar" type="Submit" th:text="Cancelar"></button>
		</form>
	</div>
</body>
</html>