<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Desafio Imusica</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Desafio Menu</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Listar</a></li>
				<li><a href="/produto">Cadastrar</a></li>
				<li><a href="/cancelaCompra/listar">Cancelar Compra</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
			<h3 class="form-signin-heading" th:text="Produtos"></h3>

			<div class="alert alert-success" th:if="${msgSuccess}">
				<span th:utext="${msgSuccess}"></span>
			</div>

			<div class="alert alert-danger" th:if="${msgErro}">
				<span th:utext="${msgErro}"></span>
			</div>

			<br />


			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Descrição</th>
						<th>Preço</th>
						<th>Quantidade</th>
						<th>Ação</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="produto : ${produtos}">
						<tr>
							<td th:text="${produto.nome}"></td>
							<td th:text="${produto.descricao}"></td>
							<td th:text="${produto.preco}"></td>
							<td th:text="${produto.quantidade}"></td>
							<td>
								<div class="btn-group pull-right">
							   		<a class="btn btn-sm btn-primary" th:href="@{/produto/editar/{id}(id=${produto.id})}" >Editar</a>
							   		<a class="delete btn btn-sm btn-danger" th:href="@{/produto/excluir/{id}(id=${produto.id})}">Excluir</a>
							   </div>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>


	</div>
</body>
</html>